<div class="read-div">

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Skill</th>
            <th>Tipo</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let agente of listaAgentes">
            <td>{{agente.id}}</td>
            <td>{{agente.nome}}</td>
            <td>{{agente.skill}}</td>
            <td>{{agente.tipo}}</td>
            <td> <button class="btn-update" (click)="update()">Update</button> </td>
            <td> <button class="btn-delete" (click)="delete(agente.id)">Delete</button> </td>
        </tr>
    </tbody>

    

</table>

<br>

<button class="btn-read"  (click)="read()">Show</button>
</div>